[submodule "processors/mips"]
	path = processors/mips
	url = https://github.com/ArchC/mips.git
[submodule "processors/sparc"]
	path = processors/sparc
	url = https://github.com/ArchC/sparc.git
[submodule "processors/powerpc"]
	path = processors/powerpc
	url = https://github.com/ArchC/powerpc.git
[submodule "processors/arm"]
	path = processors/arm
	url = https://github.com/ArchC/arm.git
